<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Customer Info</title>

  <!--Bower Components-->
  <link type="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

  <!--Style-->
  <link type="stylesheet" href="css/style.css" />

</head>

<body class="container-fluid" ng-controller="MyCtrl as ctrl">

  <header class="well">
    <h1>My customer App</h1>
  </header>

  <div class="contentRow row">

    <!--Table goes here-->
    <div class="col-lg-6 col-sm-12 listCustomers">
      <table>
        <tr>
          <th ng-repeat="i in ctrl.max-sql-table-col">
            <select name="Col{{i}}" id="Col{{i}}" ng-model="ctrl.table-keys[i]">
            <option ng-repeat="col in ctrl.data-keys" ng-value="col">{{col}}</option>
          </select>
          </th>
        </tr>
        <tr ng-repeat="customer in customers" class="table-content">
          <td ng-repeat="i in ctrl.max-sql-table-col">
            {{customer[ctrl.table-keys[i]]}}
          </td>
        </tr>
    </div>

    <!--Details Sheet-->
    <div class="col-lg-6 col-sm-12 detailCustomersWrapper">
      <div class="detailCustomers">
        <table>
          <tr ng-repeat="col in ctrl.dataKeys">
            <th>{{col}}</th>
            <th>{{ctrl.data[col]}}</th>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <footer class="row">
    <!--Insert footer here-->
  </footer>

</body>

<!--Bower Components -->
<script src="bower_components/angular/angular.min"></script>
<script src="bower_components/jquery/dis/jquery.min"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min"></script>

<!--Scripts-->
<script src="js/app"></script>
<script src="js/ctrl"></script>
<script src="js/db.scv"></script>

</html>